.container {
    width: 80%; 
    max-width: 900px;
    margin: 0 auto;  
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px; 
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

img {
    width: 100%;  
    max-width: 300px;
    height: auto; 
    display: block; 
    margin: 10px auto; 
    border-radius: 10px;        
    filter: grayscale(50%);
    
}

